div .nutrition-img img {
  width: 410px;
  height: 100%;
  border-radius: 40px;
}

.nutrition-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #e3d2bc;
  border-radius: 40px;
}

.nutrition-card:hover {
  box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.2);
}

.nutrition-container {
  padding: 10px;
}
